
<form [formGroup]="movieForm" (ngSubmit)="onSubmit()" >

 <h2> Movies Form </h2>

  <div class="form-group">
    <label for="movieTitle">Movie Title</label>
    <input type="text" id="movieTitle" formControlName="movieTitle" [appHighlightOnFocus]="'lightgreen'"  />
  </div>


  <div class="form-group">
    <label for="director">Director</label>
    <input type="text" id="director" formControlName="director" [appHighlightOnFocus]="'red'" />
  </div>


  <div class="form-group">
    <label for="production">Production house</label>
    <input type="text" id="production" formControlName="production" [appHighlightOnFocus]="'skyblue'" />
  </div>


  <div class="form-group">
    <label for="yearReleased">Year Released</label>
    <input type="text" id="yearReleased" formControlName="yearReleased" [appHighlightOnFocus]="'yellow'" />
  </div>

  <div class="form-group">
    <label for="collection">Collection</label>
    <input type="number" id="collection" formControlName="collection" [appHighlightOnFocus]="'black'" >
  </div>

  <button type="button" (click)="onSubmit()"> Submit </button>


</form>
